#include "resource.h"

1 24 "app.manifest"
IDI_MASS_DRIVER ICON "mass_driver.ico"

1 VERSIONINFO
 FILEVERSION @@FILE_VERSION_COMMAS@@
 PRODUCTVERSION @@FILE_VERSION_COMMAS@@
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Xenogears Mass Driver Project\0"
      VALUE "FileDescription", "Xenogears Mass Driver Setup and Play\0"
      VALUE "FileVersion", "@@FILE_VERSION_TEXT@@\0"
      VALUE "InternalName", "XenogearsMassDriver\0"
      VALUE "OriginalFilename", "@@START_FILENAME@@\0"
      VALUE "ProductName", "Xenogears Mass Driver\0"
      VALUE "ProductVersion", "@@FILE_VERSION_TEXT@@\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
